@model Category
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "/Views/Admin/AdminPage.cshtml";
}

<h1>Create a Category</h1>
<hr>
<form asp-controller="Admin" asp-action="CreateCategory" method="post">
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label">Category Name</label>
        <input type="text" asp-for="CategoryName" class="form-control">
    </div>
    <button class="btn btn-primary">Add</button>
</form>