@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Writer's Corner</h1>
    <h2>L i b r a r y</h2>
    <h4>You can reach a lots of book whatever you want!</h4>
    <hr style="width: 700px; margin: auto; margin-bottom: 10px;">
    <h5>About Project</h5>
    <h6 style="width: 400px; margin: auto;">this project is a .Net Core MVC project. You can access the admin panel with <a style="text-decoration: none;" asp-controller="Admin" asp-action="Index">this here</a>(user = admin, pass = 1234) and perform CRUD operations.
        The admin panel login system in the current project is not recommended. Since there is no session creation
        plugin available, I did not deal with this issue. The main goal was to make a website that hosts CRUD and
        listing operations at a simple level. I hope this project can be of some use to you.
    </h6>
</div>
